<!DOCTYPE html>
<html>
<head>
    <title>Image Caption Generator</title>
</head>
<body>
    <h1>Upload an Image</h1>
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>
</html>