<!DOCTYPE html>
<html>
<head>
    <title>Generated Caption</title>
</head>
<body>
    <h1>Generated Caption</h1>
    <p>{{ caption }}</p>
    <img src="{{ url_for('static', filename='uploads/' + image_path.split('/')[-1]) }}" alt="Uploaded Image">
    <br>
    <a href="{{ url_for('home') }}">Upload another image</a>
</body>
</html>